.bottom_section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 5% 21vw;
}

.bottom_section em {
  font-size: 20px;
  color: $cyan;
}
#avatar {
  width: 24vw;
  height:40vh;
  margin-right: 7vh;
}

.bottom_section ul {
  display: inline;
  clear: both;
}

h2 {
  margin: 2vh 0;
  font-weight: bold;
  font-size: 2.8em;
  line-height: 54px;
}

.bottom_section li {
  padding-left: 40px;
  margin: 2vh 0;
  text-align: left;
  background: url(../img/checkmark.png) no-repeat;
}

.bottom_section p {
  margin: 5vh 0;
}

.bottom_section a {
  margin:24px 0;
  color: $white;
  background-color: $cyan;
  white-space: nowrap;
  padding: 2vh 2vw;
  border-radius: 25px;
}
