.top_sections {
  width: 60vw;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;

  &__img {
    width: 10vw;
  }
  &__section {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    height: 37vh;
    padding: 5% 5% 15vh 5%;
    margin: 0 1vw;
    background-color: $white;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }

  &__button {
    position: absolute;
    bottom: 3vh;
    left: center;
    white-space: nowrap;
    padding: 2% 10%;
    color: $cyan;
    background-color: $white;
    border: 2px solid $cyan;
    border-radius: 25px;
  }
  &__button-midle {
    color: $white;
    background-color: $cyan;
  }

  //mobile version
  @media (max-width: 640px) {
    & {
      margin: 0 auto;
      flex-direction: column;
      width: 90%;
    }
    &__section {
      margin: 1vh 0;
      width: 90%;
      height: auto;
      padding-bottom: 25vh;
    }
  }
}
